<footer class="footer width-full container-xl p-responsive" role="contentinfo">
  <div class="position-relative d-flex flex-items-center pb-2 f6 color-fg-muted border-top color-border-muted flex-column-reverse flex-lg-row flex-wrap flex-lg-nowrap mt-6 pt-6">
    <ul class="list-style-none d-flex flex-wrap col-0 col-lg-2 flex-justify-start flex-lg-justify-between mb-2 mb-lg-0">
      <li class="mt-2 mt-lg-0 d-flex flex-items-center">
        <a aria-label="Homepage" title="GitHub" class="footer-octicon mr-2" href="https://github.com">
          <%= render(Primer::OcticonComponent.new("mark-github", size: :medium)) %>
        </a>        
        <span>
          © <%= Time.zone.now.year %> GitHub, Inc.
        </span>
      </li>
    </ul>
    <ul class="list-style-none d-flex flex-wrap col-12 col-lg-8 flex-justify-start flex-lg-justify-between mb-2 mb-lg-0">
      <li class="mr-3 mr-lg-0">
        <a href="https://docs.github.com/en/github/site-policy/github-terms-of-service">Terms</a>
      </li>
      <li class="mr-3 mr-lg-0">
        <a href="https://docs.github.com/en/github/site-policy/github-privacy-statement">
          Privacy
        </a>
      </li>
      <li class="mr-3 mr-lg-0">
        <a href="https://github.com/security">Security</a>
      </li>
      <li class="mr-3 mr-lg-0">
        <a href="https://www.githubstatus.com/">
          Status
        </a>
      </li>
      <li class="mr-3 mr-lg-0">
        <a href="https://docs.github.com">
          Docs
        </a>
      </li>
      <li class="mr-3 mr-lg-0">
        <a href="https://support.github.com?tags=dotcom-footer">
          Contact GitHub
        </a>
      </li>
      <li class="mr-3 mr-lg-0">
        <a href="https://github.com/pricing">
          Pricing
        </a>
      </li>
      <li class="mr-3 mr-lg-0">
        <a href="https://docs.github.com">API</a>
      </li>
      <li class="mr-3 mr-lg-0">
        <a href="https://services.github.com">
          Training
        </a>
      </li>
      <li class="mr-3 mr-lg-0">
        <a href="https://github.blog">
          Blog
        </a>
      </li>
      <li>
        <a href="https://github.com/about">
          About
        </a>
      </li>
    </ul>
  </div>
</footer>
